{% extends "base.html" %}
{% load static %}
{% load custom_filters %}

{% block title %}
    Вы вышли из системы
{% endblock %}

{% block static %}
    <link rel="stylesheet" href="{% static 'pages/index.css' %}">
{% endblock %}

{% block content %}
    <main class="main container">
        <div class="custom-center-block">
            <h1 class="main__title">Вы вышли из системы</h1>
            <p class="custom-text-block">Вы вышли из своей учётной записи. Ждём вас снова!</p>
            <div class="custom-button-block">
                <a href="{% url  'index' %}">
                    Перейти на главную
                </a>
            </div>
        </div>
    </main>
{% endblock %}
